<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard']">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a *ngIf="isAdmin" class="nav-link" data-toggle="collapse" href="#users" aria-expanded="false"
                aria-controls="users">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title" [routerLink]="['/users']">Users</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="users">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item" *ngIf="isAdmin">
                        <a class="nav-link" [routerLink]="['/partner']">Partner</a>
                    </li>
                    <li class="nav-item" *ngIf="isAdmin">
                        <a class="nav-link" [routerLink]="['/expert']">Expert</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#products" aria-expanded="false" aria-controls="products">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title" [routerLink]="['/products']">Products</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="products">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item" *ngIf="isAdmin">
                        <a class="nav-link" href="javascript:void(0)">Product Category</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#deliveries" aria-expanded="false"
                aria-controls="deliveries">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title" [routerLink]="['/deliveries']">Deliveries</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="deliveries">
                <ul class="nav flex-column sub-menu">
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">User Pages</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" [routerLink]="['/login']"> Login </a></li>
                    <li class="nav-item"> <a class="nav-link" [routerLink]="['/register']"> Register </a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>