<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            <img src="/images/logo.svg" alt="logo" />
                        </div>

                        <h4>Don't Worry!! We all forget passwords sometimes :-)</h4>
                        <h6 class="font-weight-light">Just confirm your email to continue.</h6>

                        <form class="pt-3" [formGroup]="form" (ngSubmit)="submit()">
                            <div class="form-group">
                                <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                                    placeholder="Email" formControlName="email"
                                    [class.is-invalid]="form.get('email')?.touched && form.get('email')?.invalid" />
                                <div *ngIf="form.get('email')?.touched && form.get('email')?.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="form.get('email')?.errors?.['required']">Email is required</div>
                                    <div *ngIf="form.get('email')?.errors?.['email']">Enter a valid email</div>
                                </div>
                            </div>

                            <div *ngIf="serverError" class="alert-server-error">
                                {{ serverError }}
                            </div>
                            <div *ngIf="successMessage" class="alert-server-success">
                                {{ successMessage }}
                            </div>

                            <div class="mt-3">
                                <button type="submit"
                                    class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                                    SUBMIT
                                </button>
                            </div>

                            <div class="text-center mt-4 font-weight-light">
                                Remember Password? <a [routerLink]="['/login']" class="text-primary">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>