fieldset {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 6px;
  margin:10px;
}

legend {
  width: auto;
  padding: 0 10px;
  font-weight: 600;
  font-size: 14px;
}

.header-row .btn-primary {
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(180deg, #2563eb, #1e40af);
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(37, 99, 235, 0.15);
  transition: 0.15s ease-in-out;
  width: 200px;
  height:45px;
}

